/* Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation Bar */
nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Product Section */
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    animation:fadeDown 1.2s ease;

}

/* Product Card */
.product {
    background-color: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product:hover{
    background-color: yellow;
 }

.product img {
    width: 200px;
    height: 200px;
}

/* Button */
button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #219150;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
